/*
*Colors
*
*/

$c-white: #fff;
$c-black: #000;
$c-red: #FF003F;

/*
*Media Queries
*
*/
// $mq-min: 420px;
$mq-xs: 520px;
// $mq-form: 650px;
$mq-md: 768px;
$mq-lg: 992px; 
// $mq-lg: 1420px;


/*
*Routes
*
*/
$r-images: "../img/";
$r-font: "../font/";
