footer{
	background-color: #2d2e32;
	padding: 5rem 0;
	width: 100%;
	position: relative;
	z-index: 1;
	.container{
		margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
		align-items: center;
    display: flex;
    justify-content: space-between;
		h3{
			color: #fff;
    	font-size: 1.7rem;
			b{
				color: $c-red;
			}
		}
		.footer__socials{
			align-items: center;
			display: flex;
			gap: 2rem;
			justify-content: center;
			margin-top: 1rem;
			a{
				color: #fff;
				font-size: 2.3rem;
				transition: all .4s;
				&:hover{
					color: #0a66c2;
				}
			}
		}
	}
}
