header{
	width: 100%;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	&::before{
		content: "";
		width: 100%;
		height: 110%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		background: rgb(0,0,0);
		background: linear-gradient(180deg,rgba(0,0,0,.65),transparent);
		opacity: 0;
		transition: all .4s;
	}
	&.header--fixed{
		&::before{
			opacity: 1;
		}
	}
	nav{
		display: flex;
		justify-content: space-between;
		ul{
			li{
				transition: all .4s;
				position: relative;
				&::before{
					content: "";
					display: block;
					margin: 0 auto;
					width: 0%;
					height: 2px;
					left: 0;
					right: 0;
					bottom: -5px;
					position: absolute;
					background-color: $c-red;
					transition: all .4s;
				}
				&:hover{
					&::before{
						width: 100%;
					}
				}
			}
		}
	}
	@media (max-width: $mq-md){
		position: relative;
		nav{
			justify-content: flex-end;
			ul li{
				display: none;
			}
		}	
	}
}
