.about{
	position: 1;
	background-color: rgba(0,0,0,.1);
	.container{
		margin: 0 auto;
    max-width: 80rem;
    padding: 0 2rem;
	}
	.content{
		display: flex;
		width: 100%;
    justify-content: space-between;
		padding-top: 10rem;
    position: relative;
		flex-wrap: wrap;
	}

	.desc{
		width: 100%;
		max-width: 30%;
		flex: 0 0 30%;
		h2{
			color: $c-red;
			font-size: 2rem;
			line-height: 1;
			font-weight: bold;
			font-style: italic;
			margin-bottom: 1rem;
		}
		p{
			font-size: 1rem;
			margin-bottom: .5rem;
		}
	}

	.info{
		width: 100%;
		max-width: 60%;
		flex: 0 0 60%;
		display: flex;
		flex-wrap: wrap;
		&__section{
			width: 100%;
			max-width: 50%;
			flex: 0 0 50%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin-bottom: 2rem;
			padding: 0 2rem ;
			position: relative;
			p{
				font-size: 1rem;
			}
			&::before{
				position: absolute;
				content: "";
				display: block;
				width: 2px;
				height: 75px;
				background-color: $c-red;
				left: 0;
			}
		}
		&__title{
			display: block;
			font-size: 2rem;
			line-height: 1;
			font-weight: bold;
		}
		&__color{
			color: $c-red;
			font-size: 1.2rem;
			font-style: italic;
			font-weight: bold;
			margin-top: 1rem;
		}
		ul{
			list-style:square;
			margin-top: 1rem;
			padding-left: 1rem;
			li{
				font-size: 1rem;
				&::marker{
					color: $c-red;
				}
			}
		}
	}
	@media (max-width: $mq-md){
		.content{
			padding-top: 2.5rem;
		}
		.desc, .info{
			max-width: 100%;
			flex: 0 0 100%;
			margin-bottom: 1.5rem;
		}
		.info__section{
			max-width: 100%;
			flex: 0 0 100%;
			margin-bottom: 1.5rem;
		}
	}
}