.home{
	.container{
		margin: 0 auto;
    max-width: 80rem;
    padding: 0 2rem;
		display: flex;
		align-items: center;
	}
	.content{
		align-items: center;
    display: flex;
		padding-top: 2.5rem;
    gap: 5rem;
    justify-content: center;
    position: relative;
		flex-direction: column;
		width: 100%;
	}
	.main{
    display: flex;
		width: 100%;
    gap: 5rem;
		align-items: center;
    justify-content: space-between;
    position: relative;
		&__text{
			display: flex;
			flex-direction: column;
			max-width: 40rem;
			position: relative;
			h1{
				font-size: 3rem;
				font-weight: bold;
			}
			p{
				font-size: 1.2rem;
			}
			span{
				margin-top: 1rem;
				a{
					display: block;
					width: fit-content;
					transition: all .4s;
					&:hover{
						color: #0a66c2;
					}
				}
			}
		}
		&__img{
			position: relative;
			width: 20rem;
			filter: grayscale(.2);
			img{
				overflow: hidden;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				object-fit: contain;
				border: 4px solid white;
			}

			&::after {
				content: '';
				width: 100%;
				height: 100%;
				border-radius: 100%;
				border: 6px solid $c-red;
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				animation: ring 1.5s infinite;
			}
			
			@keyframes ring {
				0% {
					width: 90%;
					height: 90%;
					opacity: 1;
				}
				100% {
					width: 130%;
					height: 130%;
					opacity: 0;
				}
			}
		}
	}
	.skills{
    display: flex;
		width: 100%;
		align-items: center;
		gap: 5rem;
		p{
			font-size: 1.2rem;
		}
		.logos{
			ul{
				display: flex;
				gap: 1rem;
				li img{
					transition: all .4s;
					&:hover{
						transform: scale(1.1);
					}
				}
			}
		}
	}

	@media (max-width: $mq-md){
		.content{
			gap: 2.5rem;
			padding-bottom: 2.5rem;
		}
		.main{
			gap: 0;
			flex-direction: column;
			&__img{
				order: 1;
				width: 100%;
				max-width: 200px;
			}
			&__text{
				order: 2;
				margin-top: 2rem;
				h1{
					line-height: 1;
					font-size: 2rem;
					margin-bottom: 1.5rem;
				}
			}
		}
		.skills{
			align-items: flex-start;
			flex-direction: column;
			gap: 1rem;
		}
	}
}
